body {
  font: 75%/1.6 "Myriad Pro", Frutiger, "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
}

.centraliza {
   text-align: center;
}

.centro {
   text-align: center;
   font-family:  Candara;
   font-size: 30px;
}

h1{
  font-size: 60px;
  font-family:  Candara;
  
}
h2{
  font-size: 50px;
  font-family: Candara;
 
}
h3{
  font-family:  Candara;
   font-size: 40px;
  
}
table {
  text-align: center;
  border-collapse: collapse;
  width: 160em;
  border: 0px solid #666;
  font-family:  Candara;
}
thead {
  background: #ccc url(http://www.devfuria.com.br/html-css/tabelas/bar.gif) repeat-x left center;
  border-top: 2px solid #a5a5a5;
  border-bottom: 2px solid #a5a5a5;
}
tr:hover {
  text-align: center;
  text-align: center;
  background-color:#6ece58;
  color: #000000;
}
thead tr:hover {
  text-align: center;
  background-color: transparent;
  color: inherit;
}
tr:nth-child(even) {
  text-align: center;
    background-color: #e5f1d6;
}
th {
  font-weight: normal;
  text-align: left;
  font-size: 20px;
}
th, td {
  text-align: center;
  padding: 0.1em 1em;
  font-size: 20px;
}
.ok{
    margin-left: 50%;
}
