body {
  font: 75%/1.6 "Myriad Pro", Frutiger, "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
}
h1{
  font-size: 40px;
  font-family: arial;
  margin-right:15%;margin-left:15%;
}
h2{
  font-size: 35px;
  font-family: arial;
  margin-right:20%;margin-left:15%;
}
h3{
  font-family: arial;
   font-size: 25px;
  margin-right:20%;margin-left:15%;
}
table {
  border-collapse: collapse;
  width: 90em;
  border: 2px solid #666;
  margin-right:auto; margin-left:auto;
}
thead {
  background: #ccc url(http://www.devfuria.com.br/html-css/tabelas/bar.gif) repeat-x left center;
  border-top: 1px solid #a5a5a5;
  border-bottom: 1px solid #a5a5a5;
}
tr:hover {
  background-color:#006400;
  color: #000000;
}
thead tr:hover {
  background-color: transparent;
  color: inherit;
}
tr:nth-child(even) {
    background-color: #28af31;
}
th {
  font-weight: normal;
  text-align: left;
}
th, td {
  padding: 0.1em 1em;
}
