---
layout: default
---
<div>
<h1> Horários IFPB- Campus Guarabira </h1>

{% for curso in site.data.horarios.cursos %}
	<h2>{{curso.nome}}</h2>    

{% for turma in curso.turmas %}
	<h3>{{turma.nome}}</h3>   

	<table>
		
  	<tr>
	  {% for coluna in turma.colunas %}
	  	<th>{{coluna}}</th> 
	  {% endfor %}
		</tr>
   {% for linha in turma.linhas %}
	 <tr>
		 <td>{{linha.horario}}</td>
		 {% for aula in linha.aulas %}
		 <td>{{aula.disciplina}}<br/>{{aula.professor}}</td>
		 {% endfor %}
		</tr>
		 {% endfor %}
		</table>

  {% endfor %}
  {% endfor %}
</div>
