---
layout: default
---
<h1 class = "centraliza">      Horários </h1>

<script>
	function jbiscoito(professor){
		var classes = document.getElementsByClassName("profy");
		var i, davez;
		for( i = 0; i < classes.length; i++){
			davez = classes[i];
			if (davez.style.display != "none"){
				document.getElementById(davez.id).style.display = "none";
			}
		}
			document.getElementById(professor).style.display = "block";
		}
		
</script>
<div class="dropdown">
	<button onclick="myFunction()" class="dropbtn">Horários<hr>(Clique aqui)</hr></button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    {% for profz in site.data.aux.professores %}
	  <p onclick="jbiscoito('{{profz}}')">{{profz}}</p>
    {% endfor %}
	
  </div>
</div>

{% for profx in site.data.aux.professores %}
	<div class= "profy" id="{{profx}}" style="display: none">
	<h1> {{profx}} </h1>


	{% for curso in site.data.horarios.cursos %}
		<h2 class = "centraliza">{{curso.nome}}</h2>    
		<p  class = "centro"> Coordenador: João Matheus Carlos de Almeida  / Telefone: (83)9 9687-9936 / Email: coordjoaomatheus@gmail.com </p>
	{% for turma in curso.turmas %}
		<h3 class = "centraliza">{{turma.nome}}</h3>   

		<table>

		<tr>
		  {% for coluna in turma.colunas %}
			<th>{{coluna}}</th> 
		  {% endfor %}
			</tr>
	   {% for linha in turma.linhas %}
		 <tr>
			 <td>{{linha.horario}}</td>
			 {% for aula in linha.aulas %}
			 	{% if aula.professor == profx or profx == "Todos" %}
			 <td>{{aula.disciplina}}<br/>{{aula.professor}}</td>
			 	{% else %}
			 <td> <br/></td>
			 {% endif %}
			 {% endfor %}
			</tr>
			 {% endfor %}
			</table>

	  {% endfor %}
	  {% endfor %}
		</div>	
	  {% endfor %}

