<!DOCTYPE html>
<html lang="pt-br">
  
  <head> 
    <link rel="icon" type="image/png" sizes="96x96" href="https://upload.wikimedia.org/wikipedia/commons/9/9a/IFminist%C3%A9riodaeduca%C3%A7%C3%A3o.jpg">
      <img class="ok" src ="http://www.ifpb.edu.br/imagens/logos/campus-guarabira">
      <link rel="shortcut icon" href="logo_ifpb.png" type="image/x-icon"/>
      <link rel="stylesheet" type="text/css" href="css/style.css" >
      <script src="JS/myJS.js" ></script>
    <title>IFPB - Campus Guarabia(Horários)</title>
    <meta charset="utf-8">
  </head>
  <body>
    {{content}}
  </body>
</html>
